{{#if forcedFalse}}
  <span class="glyphicon glyphicon-ok"></span>
{{else if forcedTrue}}
  <span class="glyphicon glyphicon-minus"></span>
{{else}}
  {{input type="checkbox" checked=checked}}
{{/if}}

