.main-container {
  margin-top: 75px;
}

.list-group .list-group-item.delimiter {
  padding: 0;
  border: 2px solid #ddd;
}

.small-padding {
  padding-left: 5px;
  padding-right: 5px;
}

select {
  width: 100%;
}
