<div class="panel panel-default">
    <div class="panel-heading">
        Resources
        <button class="btn btn-default pull-right btn-xs" {{action 'addResource'}}>
            Add <span class="glyphicon glyphicon-plus"></span>
        </button>
    </div>
  {{#if model.length}}
      <div class="panel-body">
        {{#each resource in model}}
          {{view "select"
          content=resourcesList
          optionValuePath="content.id"
          optionLabelPath="content.label"
          value=resource.name
          prompt="Select"
          }}
            <hr />
        {{/each}}
      </div>
  {{/if}}
</div>