<div class="small-padding col-md-2">
    <div class="panel panel-default">
        <div class="panel-heading small-padding">Permission properties</div>
        <div class="small-padding panel-body">
            <div class="input-group">
              {{input value=model.name class="col-md-12" required="true"}}<br/>
                <label>{{input type="checkbox" checked=model.isCustomField}} Is custom field </label><br/>
                <label>{{input type="checkbox" checked=model.isVirtualGallery}} Show in virtual gallery</label>
            </div>
        </div>
    </div>
    <hr/>
    <ul class="list-group general-permissions">
      {{#link-to 'general-permissions.edit.permission.ui-checkboxes'  class="list-group-item"}}UI Checkboxes{{/link-to}}
      {{#link-to 'general-permissions.edit.permission.resources' class="list-group-item"}}Resources{{/link-to}}
      {{#link-to 'general-permissions.edit.permission.routes' class="list-group-item"}}Routes{{/link-to}}
    </ul>
</div>
<div class="small-padding col-md-4">
  {{outlet}}
</div>

