<div class="small-padding col-md-8">
    <div class="panel panel-default">
        <div class="panel-heading small-padding">
          {{input value=model.name class="col-md-12"}}
        </div>
        <div class="small-padding panel-body">
          {{edit-role role=model}}
        </div>
    </div>
</div>
{{outlet}}

