<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">PS Admin</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>
<div class="container main-container">
    <div class="col-md-2">
        <ul class="list-group general-permissions">
          {{#link-to 'general-permissions' class="list-group-item"}}General Permissions{{/link-to}}
          <li class="list-group-item delimiter"></li>
          {{#link-to 'static-permissions' 'default'  class="list-group-item"}}Default{{/link-to}}
          {{#link-to 'static-permissions' 'all_data'  class="list-group-item"}}All Data{{/link-to}}
          {{#link-to 'static-permissions' 'admin' class="list-group-item"}}Admin{{/link-to}}
          {{#link-to 'static-permissions' 'virtual_galleries' class="list-group-item"}}Virtual Galleries{{/link-to}}
          <li class="list-group-item delimiter"></li>
          {{#link-to 'predefined-roles' class="list-group-item"}}Predefined Roles{{/link-to}}
        </ul>
    </div>
    <div class="col-md-10">

      {{outlet}}
    </div>
</div>
