<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
              aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">PS Admin</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="active">{{#link-to 'index'}}Home{{/link-to}}</li>
        <li>{{#link-to 'import-export'}}Import / Export{{/link-to}}</li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
<div class="row main-container small-padding main-content">
  <div class="small-padding col-md-2">
    <ul class="list-group main-menu">
      {{#link-to 'general-permissions.index' class="list-group-item"}}General Permissions{{/link-to}}
      <li class="list-group-item delimiter"></li>
      {{#link-to 'flag-permissions' 'default'  class="list-group-item"}}Default{{/link-to}}
      {{#link-to 'flag-permissions' 'is_all_data'  class="list-group-item"}}All Data{{/link-to}}
      {{#link-to 'flag-permissions' 'is_admin' class="list-group-item"}}Admin{{/link-to}}
      {{#link-to 'flag-permissions' 'is_sharing' class="list-group-item"}}Virtual Galleries{{/link-to}}
      <li class="list-group-item delimiter"></li>
      {{#link-to 'predefined-roles' class="list-group-item"}}Predefined Roles{{/link-to}}
    </ul>
  </div>
  {{outlet}}
</div>
